.App {
  text-align: center;
}

.jumbotron {
  padding-top: 100px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  margin-bottom: 0px;
}

#header {
  padding-bottom: 0px;
  line-height: 0;
}

 #meditate {
  background-color:#C8BAD3;
  padding-top: 50px;
  padding-bottom: 50px;
  height: auto;
}

#meditateInfo {
  height: 800px;
  background-image: url(./images/Meditation3.jpg);
  background-repeat:no-repeat;
  background-size: cover;
  text-align: left;
  padding-top: 275px;
  padding-left: 200px;
}

#journalBanner {
  height: 400px;
  background-image: url(./images/reflect.jpg);
  background-size: cover;
  padding-top: 100px;
  color: white;
}

#journals {
  background-color: #cce6ff;
  padding-top: 175px;
  padding-bottom: 250px;
  height: auto;
  background-image: url(./images/journal3.jpg);
  background-size: cover;
}

#about {
  padding-right: 0px;
  padding-left: 0px;
}


.responsive-video {
  z-index: 1000;
}

.jumbotron h1 p {
  z-index: 1;
}

#nav {
  position: fixed;
  top: 0;
  width: 100%; 
  z-index:1;
}

.page-footer {
  padding-top: 100px;
}

button {
  background-color: #228B22;
  padding: 6px;
  font-weight: bold;
  border: none;
  text-align: center;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  border-radius: 40%
}

@media ( mid-width: 600px) {
  
}