.App {
  text-align: center;
}

#about {
  background-color: #ffe6e6;
  padding-top: 50px;
  padding-bottom: 50px;
  height: auto;
}
 #meditate {
  background-color:#e6e6ff;
  padding-top: 50px;
  padding-bottom: 50px;
  height: auto;
}

#journals {
  background-color: #cce6ff;
  padding-top: 50px;
  padding-bottom: 50px;
  height: auto;
}

.jumbotron {
  padding-top: 100px;
  padding-bottom: 50px;
  margin-bottom: 0;
}

#nav {
  position: fixed;
  top: 0;
  width: 100%; 
  z-index:1;
}